@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

html
{
    box-sizing: border-box;

    font-size:60%;

    --color-background: #5840BB;
    --color-background-secundary: #fff;

    --color-text-link: #fff;
    --color-text-link-secundary:#5840BB;

    --color-text-primary:#5840BB;

    --color-text-header: #42427D;

    --color-text-input:rgba(89, 64, 187, 0.5);

    --color-background-button: #2E64FE;
    --color-background-button-darker:#0040FF;

    --color-line: #5840BB;

}

body
{
    font: 400 1.1rem Noto Sans, sans-serif ;
    color: var(-color-text-primary);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;

    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    

}

header
{
    display:flex;
    justify-content: right;

}

form
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

i
{
    margin-right:7px;
}

span
{
    font-weight: 700;
    font-size:0.8rem;
    color:red;
    margin-top:10px;
    border: 1px red solid;
    border-radius:8px;
    padding: 5px;

}



.logo
{
    color: var(--color-background);
    margin-bottom: 10px;
    
}

a
{
    font-weight: 700;
    color:var(--color-text-link-secundary);
    text-decoration:none;
    transition: opacity 0.2s;
}

a:hover
{
    color: var(--color-text-link-secundary);
    opacity: 0.7;
}


.conteudo
{
    background-color: var(--color-background-secundary);
    padding:35px;
    border-radius: 8px; 
}

.campos
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid var(--color-line);
    width:40vw;
    padding:10px;
    border-radius:5px;
}

.campos div input:first-child
{
    margin-top:10px;
}

h1
{
    color: var(--color-text-header);
}


.botao_cadastrar
{
    font-size:1.2rem;
    color: var(--color-text-link);
    background-color: var(--color-background-button);
    border-radius:5px;
    padding:7px;
    text-decoration: none;
    transition: background-color 0.25s; 
    border:none;
    cursor:pointer;
    margin-top:20px;
}

.botao_cadastrar:hover
{
    background-color: var(--color-background-button-darker);
}

label
{
    color:var(--color-text-header);  
}

input
{
    border-color: var(--color-text-input);
    padding: 0.7rem;
    color: var(--color-text-primary);
    border-radius:5px;
    display:block;
    font-size:1.2rem;
    
}

@media(min-width: 700px)
{
    html
    {
        font-size:62.5%;    
    }

    body
    {
        font-size:1.6rem;
        height: 600px;
    }

    .botao_cadastrar
    {
        font-size:2rem;
        padding: 10px 50px 10px 50px;
    }

    
    .logo
    {
        margin-bottom: 25px;
    }

    input
    {
        width: 25vw;
        font-size:1.8rem;
        padding:1.5rem;
    }

    span
    {
        font-size:1.3rem;
    }
}