
    


    <div class="conteudo">
      <header>
        <h1>Editoras</h1>
        <a href="/editoras/criar" class="botao_cadastrar">Adicionar</a>
      </header>

      <main>

        {if="$DATA"}
        <table>
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Nome </th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Observações</th>
              </tr>
            </thead>
            <tbody>
              {loop="$DATA"}
              <tr>
                <td>{$value.id}</td>
                <td>{$value.nome}</td>
                <td>{$value.telefone}</td>
                <td>{$value.email}</td>
                <td>{$value.obs}</td>
                <td>
                
                  <a href="/editoras/{$value.id}" class="botao_cadastrar"> <i class="fa fa-edit fa-lg"></i> </a>
                  
                  <a href="/editoras/{$value.id}/apagar" class="botao_excluir" 
                      onclick="return confirm('Deseja realmente excluir este registro?')">  
                      <i class="fa fa-trash-o fa-lg"></i>
                  </a>

                </td>
              </tr>
              {/loop}
            </tbody>
          </table>
        {/if}

      </main>
      
       
    </div>
    
</body>
</html>