<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../res/styles/edicao.css">
    <title>Cadastro de Editoras</title>
</head>
<body>

    <div class="conteudo">

        <header>

            
            <h1>Cadastro de Editoras</h1>

            <a href="/editoras">Voltar</a>


        </header>

        <form role="form" action="/editoras/criar" method="post">
            <input type="text" name="nome" placeHolder="Nome do editora" />
            <button type="submit" class="botao_cadastrar">Salvar</button>
        </form>

    </div>


    

    
</body>
</html>