<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="../res/styles/site.css">
        <link rel="stylesheet" href="../res/styles/font-awesome/css/font-awesome.min.css">
    </head>
<body>

    
    <div class="conteudo">

        <header>
            

            <h1>Seja bem-vindo</h1>

            <a href="/login"> <i class="fa fa-sign-in"> </i>Login</a>
        </header>

       

        <ul>
            {loop="$DATA"}
                <li>
                    
                    <b>Livro: </b> {$value.titulo} <br/>
                    <b>Autor: </b> {$value.autor}  <br/>
                    <b>Editora: </b>{$value.editora} <br/>
                    <b>Data de edição: </b>{$value.dt_edicao} <br/>
                    {if="$value.paginas"}
                        <b>Páginas: </b> {$value.paginas} <br/>
                    {/if}    
                    {if="$value.impressao"}
                        <b>Tipo de impressão: </b> {$value.impressao}  <br/>
                    {/if}  
                    {if="$value.descricao"}
                        <b>Descrição: </b>{$value.descricao} <br/>
                    {/if}
                            
                </li>
            {/loop}
        </ul>



    </div>
</body>
</html>