<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livros</title>
</head>
<body>

    <h1>Cadastro de Livros</h1>

    <form role="form" action="/livros/criar" method="post">

        <input type="text" name="nome" placeHolder="Nome do livro"/>

        <select id="autor" name="autor">
            {loop="$DATA"}
                <option value={$value.id}>{$value.nome}</option>
            {/loop}
        </select>

        <select id="editora" name="editora">
            {loop="$DATA2"}
                <option value={$value.id}>{$value.nome}</option>
            {/loop}
        </select>

        <button type="submit">Salvar</button>
    </form>

    

    
    
</body>
</html>