<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Livros</title>
</head>
<body>

    <h1>Editar Livros</h1>
    
    <form action="/livros/{$DATA.id}" method="post">
        <input type="text"  id="{$DATA.nome}" 
                name="nome" placeholder="Digite o nome do livro" 
                value="{$DATA.nome}">

        <select id="autor" name="autor">
            {loop="$DATA2"}  
                {if="$DATA.autor_id ==  $value.id"}
                    <option value={$value.id} selected>{$value.nome}</option>
                {else}
                    <option value={$value.id} >{$value.nome}</option>
                {/if}  
            {/loop}
        </select>

        <select id="editora" name="editora">
            {loop="$DATA3"}
                {if="$DATA.editora_id ==  $value.id"}
                    <option value={$value.id} selected>{$value.nome}</option>
                {else}
                    <option value={$value.id} >{$value.nome}</option>
                {/if}  
            {/loop}
        </select>


        <button type="submit">Editar</button>
    </form>
    
</body>
</html>